<p style="color: green"><%= notice %></p>

<% unless current_user.admin? %>
  <%= render "group_user", group: @group %>
<% else %>
  <%= render "group", group: @group %>
<% end %>
<br>

<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
