<table class="table table-bordered border-primary">
<thead>
<tr>
<th>Title</th>
<th>Created Users Name</th>
<th>Content</th>
<th>Group name</th>
<th>Created at</th>
<th>Status</th>
<th>Privacy</th>
<th colspan="3">Actions</th>
</tr>
</thead>

     <tbody>
       <% @posts.each do |post| %>
         <tr>
           <td><%= post.title %></td>
           <td><%= post.user.username %></td>
           <td><%= post.content %></td>
           <td><%= post.group_id %></td>
           <td><%= post.created_at %></td>
           <td><%= post.status %></td>
           <td><%= post.privacy %></td>
           <td><%= link_to 'Show', admin_post_path(post) %></td>
           <td><%= link_to 'Edit', edit_admin_post_path(post) %></td>
           <td><%= link_to "Destroy", admin_post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
         </tr>
       <% end %>
      </tbody>
   </table>

   <%= paginate @posts %>

   <%= search_form_for @q, url: admin_posts_path do |f| %>
    <%= f.search_field :title_or_content_cont %>
    <%= f.label :Public %>
    <%= f.check_box :privacy_eq, {}, 0, nil %>
    <%= f.label :Private %>
    <%= f.check_box :privacy_eq, {}, 1, nil %>
    <%= f.submit "Search", class: "btn btn-outline-info" %>
    <% end %>