<div class="row">
  <%= form_with model: @post do |form| %>
    <% if @post.errors.present? %>
        <ul>
          <% @post.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

    <div class="form-group col-md-4 field">
        <%= form.label :title %><br>
        <%= form.text_field :title, class: "form-control", :required => true %>
    </div>
    
    <div class="form-group col-md-4 field">
        <%= form.label :content %><br>
        <%= form.text_area :content, class: "form-control", :required => true %><br>
    </div>

    <div class="form-group col-md-4 field radio-inline">
      <%= form.radio_button :privacy, :public, :required => true %>
    <%= form.label :Public %>

    <%= form.radio_button :privacy, :private , :required => true %>
    <%= form.label :Private %>
    </div>

    <div class="form-group col-md-4 file-field">
      <%= form.label :image %><br />
      <%= form.file_field :image, autocomplete: "image", :id => "image_field", class: "photo_upload form-control" %>
    </div>
    <div>
      <%= image_tag("preview.png", :id => "image_preview", width: 80) %>
    </div>
    <br>
    <%= form.submit "Create post", class: "btn btn-outline-primary" %>
  <% end %>
</div>