<div class="container">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav nav nav-tabs ml-5 mr-auto mt-4 mt-lg-0" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="relevant-tab" data-toggle="tab" href="#relevant" role="tab" aria-controls="relevant" aria-selected="true">Relevant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">Latest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="top-tab" data-toggle="tab" href="#top" role="tab" aria-controls="top" aria-selected="false">Top</a>
        </li>
      </ul>
      <ul class="navbar-nav nav nav-tabs my-2 my-lg-0" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="week-tab" data-toggle="tab" href="#week" role="tab" aria-controls="week" aria-selected="false">Week</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="month-tab" data-toggle="tab" href="#month" role="tab" aria-controls="month" aria-selected="false">Month</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="year-tab" data-toggle="tab" href="#year" role="tab" aria-controls="year" aria-selected="false">Year</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="infinity-tab" data-toggle="tab" href="#infinity" role="tab" aria-controls="infinity" aria-selected="false">Infinity</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="relevant" role="tabpanel" aria-labelledby="relevant-tab">
      <%= render "relevant" %>
    </div>

    <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
      <%= render "latest" %>
    </div>
    <div class="tab-pane fade" id="top" role="tabpanel" aria-labelledby="top-tab">
      <%= render "top" %>
    </div>

    <div class="tab-pane fade" id="week" role="tabpanel" aria-labelledby="week-tab">
      <%= render "week" %>
    </div>

    <div class="tab-pane fade" id="month" role="tabpanel" aria-labelledby="month-tab">
      <%= render "month" %>
    </div>

    <div class="tab-pane fade" id="year" role="tabpanel" aria-labelledby="year-tab">
      <%= render "year" %>
    </div>
    <div class="tab-pane fade" id="infinity" role="tabpanel" aria-labelledby="infinity-tab">
      <%= render "infinity" %>
    </div>
  </div>
</div>
